bitcoinxml+dtd/dtdbtc.xml

<!ELEMENT autores (autor+)>
	<!ELEMENT autor (codigo_autor, nombre, a単o_naci, pais, categoria, libros)>
		<!ELEMENT codigo_autor (#PCDATA)>
		<!ELEMENT nombre (#PCDATA)>
		<!ELEMENT a単o_naci (#PCDATA)>
		<!ELEMENT pais (#PCDATA)>
		<!ELEMENT categoria (#PCDATA)>
		<!ELEMENT libros (libro+)>
			<!ELEMENT cuadro (codigo_libro, nombre, a単o_libr, editorial?, tecnica, museo)>
				<!ELEMENT cod_cuadro (#PCDATA)>
				<!ELEMENT a単o (#PCDATA)>
				<!ELEMENT dimensiones (#PCDATA)>
				<!ELEMENT paginas (#PCDATA)>
				 <!ATTLIST paginas duracion (corto|medio|largo) #IMPLIED >